<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>390472160716-5adrfi05ogr9i3fo9qjrubq16vkl97kf.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBwUOP6stojXxXyetnRWQLcx8Uv4ZTsnlc</string>
	<key>GCM_SENDER_ID</key>
	<string>390472160716</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.seapsontrade.jjcfoods</string>
	<key>PROJECT_ID</key>
	<string>onigbindestores-b209a</string>
	<key>STORAGE_BUCKET</key>
	<string>onigbindestores-b209a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:390472160716:ios:5964c95f0acab6a7307969</string>
</dict>
</plist>